.card {
  width: 120px;
  height: 200px;
  margin: 10px;
  padding: 0.5em 1.5em;
  background: rgb(230, 230, 230);
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  cursor: default;
  text-align: center;
}

.cardContainer {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiddenCard {
  width: 110px;
  height: 250px;
  margin: 10px;
  padding: 0.5em 1.5em;
  background-image: linear-gradient(
    176deg,
    #ffffff 8.33%,
    #ff0000 8.33%,
    #ff0000 50%,
    #ffffff 50%,
    #ffffff 58.33%,
    #ff0000 58.33%,
    #ff0000 100%
  );
  background-size: 60px 4.2px;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  cursor: default;
}

.black {
  color: black;
}

.red {
  color: red;
}

.name {
  font-size: 400%;
  margin: 0;
  color: #ff0000;
}

.suit {
  font-size: 600%;
  margin: 0;
  text-align: center;
  color: #ff0000;
}
