* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(18, 114, 18);
}

.blackjack-logo {
  width: 200px;
  margin: 20px;
}

.blackjack-logo-front {
  width: 680px;
  margin: 40px;
}

.blackjack-play-btn {
  width: 150px;
  margin: 20px;
  cursor: pointer;
}

.primary-button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: rgb(239, 228, 102);
  border: none;
  border-radius: 5px;
}

h1 {
  font-size: 35px;
  color: white;
  margin-top: 8px;
  margin-bottom: 16px;
}

h2 {
  font-size: 25px;
  margin: 14px;
}

.name-input {
  width: 15%;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.startPlay {
  width: 300px;
  height: 40px;
  margin: 10px;
  background-color: rgb(239, 228, 102);
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
