* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(18, 114, 18);
}

.blackjack-logo {
  width: 200px;
  margin: 20px;
}

.primary-button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: rgb(239, 228, 102);
  border: none;
  border-radius: 5px;
}
